**Pandas数据结构**  
Python数据分析主要用到Pandas、NumPy，matplotlib这几个模块，使用前需要先导入

In [1]:
#模块的导入
import pandas as pd
import numpy as np
import matplotlib as plt

## Series数据结构

### Serise是什么  
Serise是一种类似一维数组的对象，由一组数据及一组与之相关数据标签（即索引）组成

###  创建一个Series
用pd.Series()方法创建，通过给Series()方法传入不同的对象即可实现

In [2]:
#传入一个列表
import pandas as pd
S1 = pd.Series(["a","b","c","d"])
S1

0    a
1    b
2    c
3    d
dtype: object

In [3]:
#指定索引
S2 = pd.Series([1,2,3,4],index = ["a","b","c","d"])
S2

a    1
b    2
c    3
d    4
dtype: int64

In [4]:
#传入字典
S3 = pd.Series({"a":1,"b":2,"c":3,"d":4})
S3

a    1
b    2
c    3
d    4
dtype: int64

### 利用index方法获取Series的索引

In [5]:
S1.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
S2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

### 利用values方法获取Series的值

In [10]:
S1.values

array(['a', 'b', 'c', 'd'], dtype=object)

In [11]:
S2.values

array([1, 2, 3, 4], dtype=int64)

## DataFrame表格型数据结构

### DataFrame是什么  
DataFrame是由一组数据与一对索引（行索引和列索引）组成的表格型数据结构

### 创建一个DataFrame  
使用pd.DataFrame()方法创建，通过传入对象即可实现

In [14]:
#传入一个列表
import pandas as pd
df1 = pd.DataFrame(["a","b","c","d"])
df1

   0
0  a
1  b
2  c
3  d

In [36]:
#传入一个嵌套列表
df2 = pd.DataFrame([["a","A"],["b","B"],["c","C"],["d","D"]])
df2

   0  1
0  a  A
1  b  B
2  c  C
3  d  D

**指定行、列索引**  
- columns 参数自定义列索引
- index 参数自定义行索引

In [22]:
# 设置列索引
df31 = pd.DataFrame([["a","A"],["b","B"],["c","C"],["d","D"]],columns = ["小写","大写"])
df31

  小写 大写
0  a  A
1  b  B
2  c  C
3  d  D

In [24]:
# 设置行索引
df32 = pd.DataFrame([["a","A"],["b","B"],["c","C"],["d","D"]],index = ["一","二","三","四"])
df32

   0  1
一  a  A
二  b  B
三  c  C
四  d  D

In [37]:
# 行、列同时设置
df33 = pd.DataFrame([["a","A"],["b","B"],["c","C"],["d","D"]],columns = ["小写","大写"],index = ["一","二","三","四"])
df33

  小写 大写
一  a  A
二  b  B
三  c  C
四  d  D

In [38]:
#传入一个字段
data = {"小写":["a","b","c","d"],"大写":["A","B","C","D"]}
df41 = pd.DataFrame(data)
df41

  小写 大写
0  a  A
1  b  B
2  c  C
3  d  D

- 字典传入DataFrame时，key的值相当于列索引，如没设置行索引默认从0开始，如需设置行索引，可以赢index参数

In [28]:
# 给传入字典的数据设置行索引
data = {"小写":["a","b","c","d"],"大写":["A","B","C","D"]}
df42 = pd.DataFrame(data,index = ["一","二","三","四"])
df42

  小写 大写
一  a  A
二  b  B
三  c  C
四  d  D

### 获取DataFrame的行、列索引  
- 利用columns方法获取DataFrame的列索引
- 利用index方法获取DataFrame的行索引

In [29]:
#获取DataFrame列索引
df2.columns

RangeIndex(start=0, stop=2, step=1)

In [33]:
df33.columns

Index(['小写', '大写'], dtype='object')

In [34]:
#获取DataFrame行索引
df2.index

RangeIndex(start=0, stop=4, step=1)

In [35]:
df33.index

Index(['一', '二', '三', '四'], dtype='object')

## 获取DataFrame的值
第6章中介绍